<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="css/styl.css">
    <link rel="stylesheet" href="css/leaflet.css">
    <style>
        /* Add any custom CSS here */
        body { margin: 0; padding: 0; }
        #map { height: 400px; }
    </style>
</head>
<body>
    <header>
        <h1>{{ site.title }}</h1>
    </header>
    
    <main>
        <div class="container">
            {{ content }}
        </div>
<div id="map" style="width: 100%; height: 400px;"></div>
    <script src="css/leaflet.js"></script>

    <script>
        var map = L.map('map').setView([49.1434159, 2.4684175], 20.39); // Set initial coordinates 
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
    </script>

    </main>
    
    <footer>
        <p>&copy; {{ site.email }} | {{ site.insta }}</p>
    </footer>
</body>
</html>